.subtle-gradient-1 {
  background: #bec8d0; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #b0bcc8, #d5d9dd);
  background: linear-gradient(to top, #b0bcc8, #d5d9dd);
}
.subtle-gradient-2 {
  background: #e9e6ee; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #ded9e7, #f7f7f8);
  background: linear-gradient(to top, #ded9e7, #f7f7f8);
}
.subtle-gradient-3 {
  background: #e4e7eb; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #f1f1f1, #d2d8e3);
  background: linear-gradient(to top, #f1f1f1, #d2d8e3);
}
.subtle-gradient-4 {
  background: #d6e1e0; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #cad5d7, #e5efec);
  background: linear-gradient(to top, #cad5d7, #e5efec);
}
.subtle-gradient-5 {
  background: #ede4df; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #f7e4e4, #e1e4da);
  background: linear-gradient(to top, #f7e4e4, #e1e4da);
}
.subtle-gradient-6 {
  background: #eff0f3; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #edeff5, #f0f0f0);
  background: linear-gradient(to top, #edeff5, #f0f0f0);
}
.subtle-gradient-7 {
  background: #f9e2db; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #fedbd6, #f4eae0);
  background: linear-gradient(to top, #fedbd6, #f4eae0);
}
.subtle-gradient-8 {
  background: #dedce5; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #dccfd9, #e0ecf4);
  background: linear-gradient(to top, #dccfd9, #e0ecf4);
}
.subtle-gradient-9 {
  background: #e8e6eb; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #e6dee7, #eaf0f0);
  background: linear-gradient(to top, #e6dee7, #eaf0f0);
}
.subtle-gradient-10 {
  background: #c5e2e8; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #b7dae0, #d5ebf0);
  background: linear-gradient(to top, #b7dae0, #d5ebf0);
}
.subtle-gradient-11 {
  background: #e8e7e4; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #f0dfda, #def0f1);
  background: linear-gradient(to top, #f0dfda, #def0f1);
}
.subtle-gradient-12 {
  background: #efe2e3; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #e6dae0, #fbebe5);
  background: linear-gradient(to top, #e6dae0, #fbebe5);
}
.subtle-gradient-13 {
  background: #f5e5ef; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #f9ddef, #f0f0f0);
  background: linear-gradient(to top, #f9ddef, #f0f0f0);
}
.subtle-gradient-14 {
  background: #e2e3d0; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #e1dac4, #e4f1e2);
  background: linear-gradient(to top, #e1dac4, #e4f1e2);
}
.subtle-gradient-15 {
  background: #e6d8e2; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #dccdde, #f2e6e7);
  background: linear-gradient(to top, #dccdde, #f2e6e7);
}
.subtle-gradient-16 {
  background: #e4e8ee; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #d8e7f8, #f4eae0);
  background: linear-gradient(to top, #d8e7f8, #f4eae0);
}
.subtle-gradient-17 {
  background: #f0e6e1; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #f4e7e3, #eae5df);
  background: linear-gradient(to top, #f4e7e3, #eae5df);
}
.subtle-gradient-18 {
  background: #e5e5e5; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #e1e1e1, #e9e9e9);
  background: linear-gradient(to top, #e1e1e1, #e9e9e9);
}
.subtle-gradient-19 {
  background: #f7f7f7; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #f7f7f7, #f7f7f8);
  background: linear-gradient(to top, #f7f7f7, #f7f7f8);
}
.subtle-gradient-20 {
  background: #d9d9d8; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #cbcfd3, #eae5df);
  background: linear-gradient(to top, #cbcfd3, #eae5df);
}
.subtle-gradient-21 {
  background: #dfe2dd; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #dadecd, #e6e7f2);
  background: linear-gradient(to top, #dadecd, #e6e7f2);
}
.subtle-gradient-22 {
  background: #c8cdcd; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #e2e1d6, #abb6c3);
  background: linear-gradient(to top, #e2e1d6, #abb6c3);
}
.subtle-gradient-23 {
  background: #fae4e4; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #f8d9eb, #fcf4da);
  background: linear-gradient(to top, #f8d9eb, #fcf4da);
}
.subtle-gradient-24 {
  background: #e9ecf2; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #dde2ee, #f6f6f7);
  background: linear-gradient(to top, #dde2ee, #f6f6f7);
}
.subtle-gradient-25 {
  background: #e5e5e8; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #dae6e6, #f3e5ea);
  background: linear-gradient(to top, #dae6e6, #f3e5ea);
}
.subtle-gradient-26 {
  background: #f9f2ef; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #f7f7f7, #fbebe5);
  background: linear-gradient(to top, #f7f7f7, #fbebe5);
}
.subtle-gradient-27 {
  background: #e8cad6; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #f6cad8, #d7cad4);
  background: linear-gradient(to top, #f6cad8, #d7cad4);
}
.subtle-gradient-28 {
  background: #d1ced7; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #cecce2, #d4d1c9);
  background: linear-gradient(to top, #cecce2, #d4d1c9);
}
.subtle-gradient-29 {
  background: #f7f2f2; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #f8f4ee, #f5eef5);
  background: linear-gradient(to top, #f8f4ee, #f5eef5);
}
.subtle-gradient-30 {
  background: #eadce3; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #f8d9d9, #d9e0ef);
  background: linear-gradient(to top, #f8d9d9, #d9e0ef);
}
.subtle-gradient-31 {
  background: #e4e9ea; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #e9ede9, #dde3ec);
  background: linear-gradient(to top, #e9ede9, #dde3ec);
}
.subtle-gradient-32 {
  background: #f0ebe8; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #f4e7e3, #eaf0f0);
  background: linear-gradient(to top, #f4e7e3, #eaf0f0);
}
.subtle-gradient-33 {
  background: #eaf2f8; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #e5ecff, #f0faee);
  background: linear-gradient(to top, #e5ecff, #f0faee);
}
.subtle-gradient-34 {
  background: #f5f5f5; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #f8f4ee, #f0f5ff);
  background: linear-gradient(to top, #f8f4ee, #f0f5ff);
}
.subtle-gradient-35 {
  background: #edecef; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #f3ebf2, #e6edea);
  background: linear-gradient(to top, #f3ebf2, #e6edea);
}
.subtle-gradient-36 {
  background: #eff3f4; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #f2f4f7, #eaf0f0);
  background: linear-gradient(to top, #f2f4f7, #eaf0f0);
}
.subtle-gradient-37 {
  background: #eaede0; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #e2f0e1, #f4eae0);
  background: linear-gradient(to top, #e2f0e1, #f4eae0);
}
.subtle-gradient-38 {
  background: #f8d5d4; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #f9c6bc, #f7e7f4);
  background: linear-gradient(to top, #f9c6bc, #f7e7f4);
}
.subtle-gradient-39 {
  background: #e0d8e7; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #dccdde, #e6e7f2);
  background: linear-gradient(to top, #dccdde, #e6e7f2);
}
.subtle-gradient-40 {
  background: #d8e6e1; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #cdddde, #e7f2e6);
  background: linear-gradient(to top, #cdddde, #e7f2e6);
}
.subtle-gradient-41 {
  background: #f4f0f4; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #f3ebf2, #f6f6f7);
  background: linear-gradient(to top, #f3ebf2, #f6f6f7);
}
.subtle-gradient-42 {
  background: #d5e2ed; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #d9dae7, #d0ebf5);
  background: linear-gradient(to top, #d9dae7, #d0ebf5);
}
.subtle-gradient-43 {
  background: #e4efe5; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #e2f0e1, #e6edea);
  background: linear-gradient(to top, #e2f0e1, #e6edea);
}
.subtle-gradient-44 {
  background: #dde1e2; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #cdddde, #f2e6e7);
  background: linear-gradient(to top, #cdddde, #f2e6e7);
}
.subtle-gradient-45 {
  background: #d8e0ea; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #d8dcea, #d9e5e9);
  background: linear-gradient(to top, #d8dcea, #d9e5e9);
}
.subtle-gradient-46 {
  background: #e2e4e9; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #e4e3ea, #dfe6e8);
  background: linear-gradient(to top, #e4e3ea, #dfe6e8);
}
.subtle-gradient-47 {
  background: #efe0db; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #e8e0d9, #f7e1dd);
  background: linear-gradient(to top, #e8e0d9, #f7e1dd);
}
.subtle-gradient-48 {
  background: #d6e7e9; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #cce3ea, #e3ece8);
  background: linear-gradient(to top, #cce3ea, #e3ece8);
}
.subtle-gradient-49 {
  background: #e8d6c8; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #f5e0c3, #d7cace);
  background: linear-gradient(to top, #f5e0c3, #d7cace);
}
.subtle-gradient-50 {
  background: #f6f5f4; /*Fallback Color*/
  background: -webkit-linear-gradient(to top, #fafafa, #f1eeeb);
  background: linear-gradient(to top, #fafafa, #f1eeeb);
}
